<div class="container">
 <h1 class="jumbotron-heading">Album example</h1>
<div class="container">
 <div class="row">
 <div class="col">
 <p> Lorem ipsum dolor sit amet, ex per choro intellegat, mea viris scripta officiis ut. 
 Qui oblique rationibus no. Quando tacimates moderatius mel id, eam ex veniam invidunt intellegebat. 
 Eum ei eruditi corpora, ex ubique democritum definitionem qui. </p>
 </div>
 <div class="col">

 <p> Lorem ipsum dolor sit amet, ex per choro intellegat, mea viris scripta officiis ut. 
 Qui oblique rationibus no. Quando tacimates moderatius mel id, eam ex veniam invidunt intellegebat. 
 Eum ei eruditi corpora, ex ubique democritum definitionem qui. </p>
 </div>
 </div></div>